### IntelliJ IDEA ###
out/
.idea
*.iml
!src/java/advent_of_code_2023/main/**/out/
!src/java/advent_of_code_2023/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!src/java/advent_of_code_2023/main/**/bin/
!src/java/advent_of_code_2023/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store